

<div class="container">
  <div class="section-one">
    <div class="social-links">

        <div class="facebook">
          <span>Login with Facebook</span>
          <div class="icon">
            <img src="../assets/img/facebookLogo.svg" alt="Facebook Logo">
          </div>
        </div>

        <div class="twitter">
          <div class="icon">
            <img src="../assets/img/twitterLogo.svg" alt="Twitter Logo">
          </div>
         
          <span>Login with Twitter</span>
       </div>

    </div>

    <div class="main-form"> 
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <a href="#"> I forgot my password</a>
      <button>Login</button>
    </div>
  </div>
  <div class="section-two">
    <div class="new-account">
      <button> Create New Account</button>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
